<footer class="container">

  <div class="row">
    <div class="col-sm-3">
      <h3>About</h3>
      <p>TPS Delivery - ProductShop ApS</p>
      <p>Karlsundsvej 20,</p>
      <p>6710 Esbjerg, Danmark.</p>
      <p>CVR nr.: 2556315</p>
      <br/>
      <p>Telefon: (+45) 42 42 41 38</p>
      <p>E-Mail: ProductShop@shop.dk</p>

    </div>



    <div class="col-sm-3">
      <h3>Kundeservice</h3>
      <p>Kontakt os</p>
      <p>Ofte stillede spørgsmål</p>
      <p>Levering</p>
      <p>Fordelskunde</p>
      <p>Afhenting</p>
      <p>Telefonisk support</p>

    </div>
    <div class="col-sm-3">
      <h3>Om ProductShop</h3>
      <p>Om ProductShop</p>
      <p>Youtube</p>
      <p>Handelsbetingelser</p>
      <p>Cookie- og privatlivspolitik</p>
      <p>Persondatapolitik</p>
    </div>

    <div class="col-sm-3">
      <h3>Let's stay in touch!</h3>
      <input placeholder="Indtast din mailadresse">
      <br>
      <input type="checkbox" id="confirm">
      <label for="confirm">ja tak, jeg vil gerne modtage nyhedsbreve</label>
    </div>
  </div>


</footer>
