<h1>Register product</h1>
<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <label>
      Product name:
      <input id="name" type="text" formControlName="name" minlength="3" maxlength="13">
    </label>

    <label>
      Product price:
      <input type="number" formControlName="price">
    </label>

    <label>
      Product type:
      <select formControlName="type">
        <option value="" disabled>Choose Type</option>
        <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
      </select>
    </label>


    <button type="submit" [disabled]="!productForm.valid">Create</button>

  </form>
  <button (click)="goBack();">Go back</button>
</div>

