<h1>ProductStore Login!</h1>

<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>
      Username:
      <input class="form-control" id="username" type="text" formControlName="username">
    </label>

    <label>
      Password:
      <input class="form-control" type="password" formControlName="password">
    </label>

      <input type="checkbox" class="checkbox" id="rememberBe" name="saveLogin" [checked]="saveLogin" [(ngModel)]="saveLogin" [ngModelOptions]="{standalone: true}">
      <label class="checkboxLabel" for="rememberBe">Remember me</label>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>




  <div class="error">
    <h6 class="errorUsername" *ngIf="loginForm.get('username').invalid && loginForm.get('username').dirty">Username is required</h6>
    <h6 class="errorPassword" *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">Password is required</h6>
    <h6 class="errorMessage">{{errorMsg}}</h6>


  </div>

</div>
