<div class="container">
  <h1 align="center">Welcome to our ProductShop!</h1>
  <h4 align="center">Here you'll find many quality items, such as</h4>


  <section class="container">
    <div class="row">
      <figure class="col-sm-5">
        <p class="imageTxt">Phones</p>
        <img id="phone" src="/assets/images/Phones.jpg">
      </figure>
      <figure class="col-sm-5">
        <p class="imageTxt">Tools</p>
        <img id="tool" src="/assets/images/Tools.jpg">
      </figure>
    </div>
    <div class="row">
      <figure class="col-sm-5">
        <p class="imageTxt">Food</p>
        <img id="food" src="/assets/images/Food.jpg">
      </figure>
      <figure class="col-sm-5">
        <p class="imageTxt">Barista Goods</p>
        <img id="barista" src="/assets/images/Barista.jpg">
      </figure>
    </div>
  </section>

    <button class="btn">
      <h3>Purchase now!</h3>
    </button>
  <h4 class="small-txt">make a change</h4>
</div>

