
h1 {
  padding: 20px;
  font-weight: 700;
  margin: 0;
}

section{
  position: relative;
  top: 5px;
}

section .row img {
  position: relative;
  right: -100px;
  margin: 0 -11px 30px;
  width: 100%;
  max-width:100%;
}

.imageTxt{
  font-weight: 700;
  position: relative;
  left: 250px;
}

.btn{
  position: relative;
  left: 478px;
  bottom: 25px;
  border: 1px black inset;
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.btn h3{
  margin: 18px;
  font-size: 16px;
  position: relative;
  left: -8px;
  bottom: 2px;
}

.small-txt{
  font-size: 10px;
  text-align: center;
  position: relative;
  bottom: 20px;
}
