<h1>Product Details</h1>
<progressbar class="progress center-block" *ngIf="loading" max="100" [value]="100" type="success" [striped]="true" [animate]="true">Loading...</progressbar>
<div class="container" *ngIf="!loading">
  <h1>{{this.product.name}} ({{this.product.id}}) - {{product.price}} Dkk.</h1>
  <h2>{{this.product.type.name}}</h2>

  <form *ngIf="userRole === 'Admin'" [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <label>
      Product name:
      <input class="form-control" id="name" type="text" formControlName="name" minlength="3" maxlength="13" pattern="^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)*$">
    </label>

    <label>
      Product price:
      <input class="form-control" type="number" formControlName="price">
    </label>

    <label>
      Product type:
      <select class="form-control" formControlName="type">
        <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
      </select>
    </label>

    <label class="colorLabel">
      Product color:
      <select class="form-control" id="colorSelect" multiple formControlName="color">
        <option value="" disabled>Choose Color(s)</option>
        <option *ngFor="let color of colors" [value]="color.id">{{color.colorDescription}}</option>
      </select>
    </label>

    <label>
      Product upload:
      <input class="form-control" id="dateSelect" type="datetime-local" formControlName="date">
    </label>

    <button type="submit" [disabled]="!productForm.valid">Update</button>
  </form>
  <p align="center">{{error}}</p>
  <button class="btn btn-info" (click)="goBack();">Go back</button>
</div>

<div class="container" *ngIf="found === false">
  <h2>Product not found</h2>
  <button class="update" (click)="goBack();">Go back</button>
</div>

<div class="error">
  <h6 class="errorName" *ngIf="productForm.get('name').invalid && productForm.get('name').dirty">Product name must be between 3-13 characters with no trailing whitespace</h6>
  <h6 class="errorNumber" *ngIf="productForm.get('price').invalid && productForm.get('price').dirty">Product price allowed between 0-99999</h6>
</div>

