a{
  text-decoration: none;
  color: #111111;
}

.data:hover a{
  color: dimgrey;
  cursor: pointer;
}

.table-{
  position: relative;
  left: 426px;
  width: calc(30% + 30px);
  table-layout: fixed;
  border-spacing: 15px 0px;
  margin: 0px -15px;

}

.header1{
  position: relative;
  left: 55px;
}
.data1{
  position: relative;
  left: 72px;
}

.btn{
  position: relative;
  left: 500px;
  padding: 12px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

progressbar{
  width: 300px;
  margin-left: auto;
  margin-right:auto;
}
